.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  margin-top: 20PX;
}

.navbar-item-img {
  height: 80px; /* Adjust size */
  width: 80px; /* Adjust size */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style the slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* Slider before the toggle */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

/* Change the background when the toggle is on */
input:checked + .slider {
  background-color: #4caf50;
}

/* Move the slider when checked */
input:checked + .slider:before {
  transform: translateX(26px);
}


/* Add 5 unique background colors */
.genre-0 { background-color: #ff6b6b !important}
.genre-1 { background-color: #feca57 !important}
.genre-2 { background-color: #1dd1a1 !important}
.genre-3 { background-color: #54a0ff !important}
.genre-4 { background-color: #a29bfe !important}