@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-weight: 700; /* Bold for headings */
}

.h1 {
  font-size:55px;
  text-align: center;
}


strong {
  font-weight: 600; /* Semi-bold for emphasized text */
}

p {

  font-weight: 400; /* Regular for paragraphs */
  text-align: center;
}

small {
  font-weight: 300; /* Light for small text */
}

a{
  font-size: 15px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
